/* Layout */


#main > nav, #main > main, #main > footer {
	padding: 15px;
}

#main > nav {
	text-align: center;
}

#main > main {
	flex: 1;
	margin-right: 25px;
}

#main > footer {
	padding-top: 50px;
}

@media (max-width: 640px) {
	body {
		flex-direction: column;
	}

	body > header h1 {
		width: auto;
		font-size: 7em;
	}

	#main {
		display: block;
		min-height: 0;
	}

	#main > main {
		margin-right: 0;
	}
}

hr {
	border: none;
	border-top: 1px solid gray;
	max-width: 25px;
	margin: 35px auto;
}

.muted {
	color: gray;
}

@media (prefers-color-scheme: dark) {
	html {
		background-color: black;
		color: #dfdfdf;
	}

	article img:not([src$=".jpg"]):not([src$=".jpeg"]):not(.opaque) {
		/* prevent transparent images from showing the black background */
		background-color: white;
		border: 5px solid white;
		box-sizing: border-box;
	}
}

/* Homepage */

#intro {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#intro h1 {
	font-size: 10em;
	margin: 0;
	margin-bottom: 0.2em;
}

@media (max-width: 640px) {
	#intro h1 {
		font-size: 7em;
	}
}

/* Typography */

article > header {
	margin-bottom: 2em;
}

article > header time {
	color: gray;
	white-space: nowrap;
}

article img, article video {
	max-width: 100%;
}

article .footnotes {
	font-size: 0.75em;
}

pre {
	font-family: 'Fira Code', 'Nanum Gothic Coding', monospace;
	background-color: #272822;
	color: #f8f8f2;
	padding: 15px;
	overflow: auto;

	tab-size: 2;
	-moz-tab-size: 2;
}

p code, li code {
	color: #930d72;
}

a, a:visited {
	color: inherit;
}

kbd {
	display: inline-block;
	padding: 3px 5px;
	font-size: 0.8em;
	line-height: normal;
	line-height: 10px;
	vertical-align: middle;
	border: 1px solid black;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 black;
	background-color: rgba(0, 0, 0, 0.15);
}

@media (prefers-color-scheme: dark) {
	kbd {
		border-color: white;
		background-color: rgba(255, 255, 255, 0.15);
		box-shadow: inset 0 -1px 0 white;
	}

	p code, li code {
		color: #f200b7;
	}
}

iframe[src*="youtube-nocookie.com"], iframe.video {
	border: none;
	width: 100%;
	height: 460px;
}

@media (max-width: 640px) {
	iframe[src*="youtube-nocookie.com"], iframe.video {
		height: 260px;
	}
}

/* Article list */

.article-list article > header {
	display: flex;
	flex-flow: row;
	align-items: center;
	margin-bottom: 0;
}

.article-list article h3 {
	display: inline-block;
	margin: 0.5em;
}

.article-list article small {
	font-weight: normal;
	color: gray;
}

.alt-links {
	float: right;
	color: gray;
	margin: 30px 0;
}

















/* CSS, only for first page! */

body {
	font-family: 'Fira Code', 'Nanum Gothic Coding', monospace;
	display: flex;
	flex-flow: row;
}

body > header {
	text-align: center;
}

body > header h1 {
	width: 1.5em;
	font-size: 10em;
	margin: 0 auto;
}

body > header p {
	color: gray;
}


















#web_head {
	height: 100%;
	height: 100vh;
}
.web_head_content {
	position: relative;
	margin: 7rem 0 0;
}
.web_logo {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: relative;
	left: 0;
	width: 100%;
}
.web_logo .logobox {
	-webkit-animation: movebox 2s;
	animation: movebox 2s;
}
.web_logo .logobox:after {
	-webkit-animation: expandlogo 2s;
	animation: expandlogo 2s;
	display: block;
}
.web_logo .logotext {
	-webkit-animation: fadetext 2.5s;
	animation: fadetext 2.5s;
	display: table-cell;
	font-size: 3rem;
}
.nb_slogan {
	-webkit-animation: fadetext2 2.5s;
	animation: fadetext2 2.5s;
}
.web_langmenu {
	position: relative;
	bottom: initial;
	width: 100%
}
.languageselect {
	width: 9rem;
}
.languageselect > span + span {
	font-size: 1.4rem;
}
.languagemenu {
	margin: 0;
}
.web_subnav {
	margin: -30px 0 0;
	opacity: 1 !important;
	position: absolute;
	bottom: initial;
	right: 3%;
	top: 95%;
	top: 95vh;
}
.web_downarrow {
	display: block;
}
.nb_slogan {
	color: #E0E0E0;
	display: block;
	text-align: center;
}
.nb_headnav {
	background-color: transparent;
	margin-top: -80px;
	position: absolute;
}
.nb_headnav a {
	color: #fafafa;
}

/* ************************* Media Queries - RESPONSIVE STYLE ************************* */
@media only screen and (min-width: 1024px) {
.web_search input.text {
	min-width: 600px;
	width: 40%;
}
}

@media only screen and (max-width: 1023px) {
.web_search input.text {
	min-width: 400px;
	width: 60%;
}
}

@media only screen and (min-width: 801px) {
#web_head {
	background-color: #2a2a2a;
	background: url(media/bg_startpage.jpg) 50% 0 no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.logocontent {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}
.web_subnav {
	opacity: 0 !important;
	transition: all 0.2s cubic-bezier(0.86, 0, 0.07, 1) 0s;
	visibility: hidden;
}
body.is-scrolled-2 .web_subnav {
	opacity: 1 !important;
	transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0.2s;
	visibility: visible;
}
}

@media only screen and (max-width: 800px) {
#web_head {
	background-image: url(images/bg_mobil.jpg);
	height: initial;
}
.web_head_content {
	margin: 5rem 0 3rem;
}
.web_logo .logobox:after {
	right: -15px;
}
.web_logo .logotext {
	top: -5px;
}
.nb_slogan {
	font-size: 1rem;
}
.nb_slogan *:first-child {
	margin-top: 0;
}
.web_search {
	margin: 0 0 1rem;
}
.web_search input.text,
.web_search input.submit {
	height: 3rem;
}
.web_search input.text {
	font-size: 2rem;
}
.web_langmenu {
	opacity: 1 !important;
}
.languageselect > span {
	font-size: 2em;
}
.web_downarrow {
	display: none !important;
}
.web_subnav {
	top: initial;
}
.web_subnav {
	margin: -25px 0 0;
}
.nb_headnav {
	margin-top: -50px;
}
}

/* iPad (1024 x 768px) */
@media only screen and (orientation: landscape) {
.web_search {
	margin: 3rem 0;
}
}
/* Google Nexus 7 (960 x 600px) */
@media only screen and (orientation: landscape) {
.logocontent {
	-webkit-transform: scale(1);
	transform: scale(1);
}
.web_search, .web_downarrow {
	margin: 1% 0;
}
.nb_headnav {
	margin-top: -50px;
}
}
/* Nokia 9 (854 x 480px) */
@media only screen and (orientation: landscape) {
.web_downarrow {
	display: none;
}
}

@media only screen and (max-width: 499px) {
.web_logo .logotext {
	font-size: 1.5rem;
}
.web_search input.text {
	font-size: 1.3rem;
	min-width: 200px;
	width: 90%;
}
}