.web_subnav {
	padding: 0;
	position: absolute;
	bottom: inherit;
	right: 5%;
	z-index: 800;
}
.web_subnav nav {
	background-color: transparent;
	height: 500px;
	overflow: hidden;
	width: 60px;
}
.web_subnav nav input[type=checkbox] {
	display : none;
}
.web_subnav label {
	background-color: #424242;
	border: 0px solid #9E9E9E;
	border-radius: 10px;
	box-sizing: border-box;
	/* opacity: 1; */
	padding: 18px 0;
	position: relative;
	z-index: 800;
}
.web_subnav label,
.web_subnav a {
	color: #fff;
	cursor: pointer;
	display: block;
	text-align: center;
	text-decoration: none;
}
.web_subnav label span {
	display: inline-block;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: all .4s cubic-bezier(0.86, 0, 0.07, 1);
	transition: all .4s cubic-bezier(0.86, 0, 0.07, 1);
}
.web_subnav menu {
	margin: 0;
	opacity: 0;
	padding: 0;
	position: relative;
	top: -360px;
	-webkit-transition: all .4s cubic-bezier(0.86, 0, 0.07, 1);
	transition: all .4s cubic-bezier(0.86, 0, 0.07, 1);
}
.web_subnav li {
	border: 0 none transparent;
	list-style: none;
	position: relative;
}
.web_subnav a {
	background-color: #778899;
	border-radius: 10px;
	padding: 20px 0;
	position: relative;
	z-index: 800;
}
.web_subnav a:hover {
	background-color: #667584;
}
/* Open/close Subnav */
.web_subnav #toggle:checked ~ menu {
	opacity: 1;
	top: 0;
}
.web_subnav #toggle:checked ~ label span {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* ************************* Media Queries - RESPONSIVE STYLE ************************* */
@media only screen and (max-width: 800px) {
.web_subnav web_nav {
	width: 50px;
}
.web_subnav label {
	padding: 13px 0;
}
.web_subnav a {
	padding: 15px 0;
}	
}
