/* Scroll to top - Button */
.lck_scroll-top {
	background-color: rgba(119, 136, 153, 0.8);
	border-radius: 10px;
	color: #FAFAFA;
	height: 60px;
	line-height: 60px;
	opacity: 0;
	overflow: hidden;
	padding: 0;
	position: fixed;
	bottom: -2%;
	right: 3%;
	text-align: center;
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
	-webkit-transition-delay: .1s;
	transition-delay: .1s;
	visibility: hidden;
	width: 60px;
	z-index: 999;
}
.lck_scroll-top .fa + .fa {
	color: red;
}
.lck_scroll-top.show {
	bottom: 10%;
	cursor: pointer;
	opacity: 1;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	-webkit-transition-delay: .2s;
	transition-delay: .2s;
	visibility: visible;
}
.lck_scroll-top:hover {
	background-color: #778899;
	color: #fff;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
.lck_scroll-top .scroll-top-inner {
	position: relative;
	top: 3px;
}

/* ************************* Media Queries - RESPONSIVE STYLE ************************* */
@media only screen and (max-width: 800px) {
.lck_scroll-top {
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}
}
