<!-- ************************* Content-Container ************************* -->
<div id="web_content_box">
    <!-- Content -->
    <div class="web_content">
        <div class="web_content_main">
            

<h1>Impressum</h1>
<p>Angaben gemäß § 5 TMG:</p>
<p>Max Mustermann<br>Musterstraße 1<br>12345 Musterort</p>
<p>Telefon: 01234 XXXXXX<br>E-Mail: <a title="(at) durch @ ersetzen (Spamschutz)" href="mailto:maxmustermann@example.com">maxmustermann(at)example.com<br></a>oder per <a title="Kontaktformular" href="?&amp;mailform">Kontaktformular</a></p>
<p><strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:<br></strong>Max-Mustermann<br>Musterstraße 1<br>12345 Musterort<strong><br></strong></p>
<h4>Haftungsausschluss (Disclaimer)</h4>
<p><strong>Haftung für Inhalte</strong></p>
<p>Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>
<p><strong>Haftung für Links</strong></p>
<p>Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>
<p><strong>Urheberrecht</strong></p>
<p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>
<p>Quelle: <em><a href="http://www.e-recht24.de/" rel="nofollow">http://www.e-recht24.de</a></em></p>
        </div>
        <!-- Submenu -->
        <div class="lck_submenu">
                        </div>
    </div>
</div>





imprint
Information according to § 5 TMG:

Max Mustermann
Musterstrasse 1
12345 sample location

Telephone: 01234 XXXXXX
Email: maxmustermann (at) example.com
or by contact form

Responsible for the content according to § 55 Abs. 2 RStV:
Max Mustermann
Musterstrasse 1
12345 sample location

Disclaimer
Liability for content

As a service provider, we are responsible for our own content on these pages in accordance with general laws in accordance with Section 7 (1) TMG. According to §§ 8 to 10 TMG, however, we as a service provider are not obliged to monitor transmitted or stored third-party information or to research circumstances that indicate illegal activity. Obligations to remove or block the use of information according to general laws remain unaffected. However, liability in this regard is only possible from the time of knowledge of a specific violation of the law. If we become aware of any legal violations, we will remove this content immediately.

Liability for links

Our offer contains links to external websites of third parties, the content of which we have no influence on. Therefore, we cannot accept any liability for this external content. The respective provider or operator of the pages is always responsible for the content of the linked pages. The linked pages were checked for possible legal violations at the time the link was created. No illegal content was discernible at the time the link was created. A permanent control of the content of the linked pages is not reasonable without concrete evidence of a violation of the law. If legal violations become known, we will remove such links immediately.

Copyright

The content and works on these pages created by the site operator are subject to German copyright law. The duplication, processing, distribution and any kind of use outside the limits of copyright law require the written consent of the respective author or. Creator. Downloads and copies of this page are only permitted for private, non-commercial use. If the content on this page was not created by the operator, the copyrights of third parties are observed. In particular, third party content is marked as such. Should you nevertheless become aware of a copyright infringement, please let us know. If we become aware of legal violations, we will remove such content immediately.

Source: http://www.e-recht24.de





<!-- ************************* Content-Container ************************* -->
<div id="lck_content_box">
    <!-- Content -->
    <div class="lck_content">
        <div class="lck_content_main">
            

<h1>Datenschutz</h1>
<p><strong>Datenschutzerklärung</strong></p>
<p><strong>Geltungsbereich</strong></p>
<p>Diese Datenschutzerklärung klärt Nutzer über die Art, den Umfang und Zwecke der Erhebung und Verwendung personenbezogener Daten durch den verantwortlichen Anbieter<br>Max Mustermann - Musterstraße 1 - 12345 Musterort - Telefon: 01234 XXXXXX - E-Mail: <a title="(at) durch @ ersetzen (Spamschutz)" href="mailto:maxmustermann@example.com">maxmustermann(at)example.com<br></a>auf dieser Website (im folgenden “Angebot”) auf.</p>
<p><br>Die rechtlichen Grundlagen des Datenschutzes finden sich im Bundesdatenschutzgesetz (BDSG) und dem Telemediengesetz (TMG).</p>
<p><strong>Zugriffsdaten/ Server-Logfiles</strong></p>
<p><span class="sd-muster-content">Der Anbieter (beziehungsweise sein Webspace-Provider) erhebt Daten über jeden Zugriff auf das Angebot (so genannte Serverlogfiles). Zu den Zugriffsdaten gehören:<br><br>Name der abgerufenen Webseite, Datei, Datum und Uhrzeit des Abrufs, übertragene Datenmenge, Meldung über erfolgreichen Abruf, Browsertyp nebst Version, das Betriebssystem des Nutzers, Referrer URL (die zuvor besuchte Seite), IP-Adresse und der anfragende Provider.<br><br>Der Anbieter verwendet die Protokolldaten nur für statistische Auswertungen zum Zweck des Betriebs, der Sicherheit und der Optimierung des Angebotes. Der Anbieterbehält sich jedoch vor, die Protokolldaten nachträglich zu überprüfen, wenn aufgrund konkreter Anhaltspunkte der berechtigte Verdacht einer rechtswidrigen Nutzung besteht.</span></p>
<p><strong>Umgang mit personenbezogenen Daten</strong></p>
<p><span class="sd-muster-content">Personenbezogene Daten sind Informationen, mit deren Hilfe eine Person bestimmbar ist, also Angaben, die zurück zu einer Person verfolgt werden können. Dazu gehören der Name, die Emailadresse oder die Telefonnummer. Aber auch Daten über Vorlieben, Hobbies, Mitgliedschaften oder welche Webseiten von jemandem angesehen wurden zählen zu personenbezogenen Daten.<br><br>Personenbezogene Daten werden von dem Anbieter nur dann erhoben, genutzt und weiter gegeben, wenn dies gesetzlich erlaubt ist oder die Nutzer in die Datenerhebung einwilligen.</span></p>
<p><strong>Kontaktaufnahme</strong></p>
<p><span class="sd-muster-content">Bei der Kontaktaufnahme mit dem Anbieter (zum Beispiel per Kontaktformular oder E-Mail) werden die Angaben des Nutzers zwecks Bearbeitung der Anfrage sowie für den Fall, dass Anschlussfragen entstehen, gespeichert.</span></p>
<p><strong>Kommentare und Beiträge</strong></p>
<p><span class="sd-muster-content">Wenn Nutzer Kommentare im Blog oder sonstige Beiträge hinterlassen, werden ihre IP-Adressen gespeichert. Das erfolgt zur Sicherheit des Anbieters, falls jemand in Kommentaren und Beiträgen widerrechtliche Inhalte schreibt (Beleidigungen, verbotene politische Propaganda, etc.). In diesem Fall kann der Anbieter selbst für den Kommentar oder Beitrag belangt werden und ist daher an der Identität des Verfassers interessiert.</span></p>
<p><strong>Einbindung von Diensten und Inhalten Dritter</strong></p>
<p><span class="sd-muster-content">Es kann vorkommen, dass innerhalb dieses Onlineangebotes Inhalte Dritter, wie zum Beispiel Videos von YouTube, Kartenmaterial von Google-Maps, RSS-Feeds oder Grafiken von anderen Webseiten eingebunden werden. Dies setzt immer voraus, dass die Anbieter dieser Inhalte (nachfolgend bezeichnet als "Dritt-Anbieter") die IP-Adresse der Nutzer wahr nehmen. Denn ohne die IP-Adresse, könnten sie die Inhalte nicht an den Browser des jeweiligen Nutzers senden. Die IP-Adresse ist damit für die Darstellung dieser Inhalte erforderlich. Wir bemühen uns nur solche Inhalte zu verwenden, deren jeweilige Anbieter die IP-Adresse lediglich zur Auslieferung der Inhalte verwenden. Jedoch haben wir keinen Einfluss darauf, falls die Dritt-Anbieter die IP-Adresse z.B. für statistische Zwecke speichern. Soweit dies uns bekannt ist, klären wir die Nutzer darüber auf.<br></span></p>
<p><strong>Cookies</strong></p>
<p><span class="sd-muster-content">Cookies sind kleine Dateien, die es ermöglichen, auf dem Zugriffsgerät der Nutzer (PC, Smartphone o.ä.) spezifische, auf das Gerät bezogene Informationen zu speichern. Sie dienen zum einem der Benutzerfreundlichkeit von Webseiten und damit den Nutzern (z.B. Speicherung von Logindaten). Zum anderen dienen sie, um die statistische Daten der Webseitennutzung zu erfassen und sie zwecks Verbesserung des Angebotes analysieren zu können. Die Nutzer können auf den Einsatz der Cookies Einfluss nehmen. Die meisten Browser verfügen eine Option mit der das Speichern von Cookies eingeschränkt oder komplett verhindert wird. Allerdings wird darauf hingewiesen, dass die Nutzung und insbesondere der Nutzungskomfort ohne Cookies eingeschränkt werden.<br><br>Sie können viele Online-Anzeigen-Cookies von Unternehmen über die US-amerikanische Seite<a href="http://www.aboutads.info/choices/">http://www.aboutads.info/choices/</a> oder die EU-Seite <a href="http://www.youronlinechoices.com/uk/your-ad-choices/">http://www.youronlinechoices.com/uk/your-ad-choices/</a>verwalten.</span></p>
<p><strong>Widerruf, Änderungen, Berichtigungen und Aktualisierungen</strong></p>
<p>Der Nutzer hat das Recht, auf Antrag unentgeltlich Auskunft zu erhalten über die personenbezogenen Daten, die über ihn gespeichert wurden. Zusätzlich hat der Nutzer das Recht auf Berichtigung unrichtiger Daten, Sperrung und Löschung seiner personenbezogenen Daten, soweit dem keine gesetzliche Aufbewahrungspflicht entgegensteht.</p>
<hr>
<p><a title="Zur Webseite" href="http://rechtsanwalt-schwenke.de/smmr-buch/datenschutz-muster-generator-fuer-webseiten-blogs-und-social-media/" target="_blank" rel="noopener"><strong>Datenschutz-Muster von Rechtsanwalt Thomas Schwenke - I LAW it</strong></a></p>
        </div>
        <!-- Submenu -->
        <div class="lck_submenu">
                        </div>
    </div>
</div>





data protection
Privacy policy

scope

This data protection declaration clarifies users about the type, scope and purposes of the collection and use of personal data by the responsible provider
Max Mustermann - Musterstraße 1 - 12345 Musterort - Telephone: 01234 XXXXXX - Email: maxmustermann (at) example.com
on this website (hereinafter “ offer ”).


The legal basis for data protection can be found in the Federal Data Protection Act (BDSG) and the Telemedia Act (TMG).

Access data / server log files

The provider (or his web space provider) collects data about every access to the offer (so-called server log files). Access data includes:

Name of the accessed website, file, date and time of the retrieval, amount of data transferred, notification of successful retrieval, browser type and version, the operating system of the user, referrer URL (the previously visited page), IP address and the requesting provider.

The provider uses the log data only for statistical evaluations for the purpose of operation, security and optimization of the offer. However, the provider reserves the right to check the log data retrospectively if there is a reasonable suspicion of illegal use based on concrete evidence.

Handling of personal data

Personal data is information that can be used to determine a person, i.e. information that can be tracked back to a person. This includes the name, email address or telephone number. Personal data also includes data about preferences, hobbies, memberships or which websites were viewed by someone.

Personal data is only collected, used and passed on by the provider if this is permitted by law or if the users consent to the data collection.

contact

When contacting the provider (for example via contact form or email), the information provided by the user is saved for the purpose of processing the request and in the event that follow-up questions arise.

Comments and posts

If users leave comments on the blog or other posts, their IP addresses are saved. This is for the safety of the provider if someone writes illegal content in comments and articles (insults, prohibited political propaganda, etc.). In this case, the provider can be prosecuted for the comment or contribution and is therefore interested in the identity of the author.

Integration of services and content from third parties

It can happen that content from third parties, such as videos from YouTube, maps from Google Maps, RSS feeds or graphics from other websites, is integrated within this online offer. This always presupposes that the providers of this content (hereinafter referred to as "third party providers") perceive the IP address of the users. Because without the IP address, they could not send the content to the browser of the respective user. The IP address is therefore required to display this content. We only endeavor to use content whose respective providers only use the IP address to deliver the content. However, we have no influence on this if the third-party provider e.g. save for statistical purposes. As far as we know,we educate users about it.

Cookies

Cookies are small files that make it possible to store specific information related to the device on the user's access device (PC, smartphone, etc.). On the one hand, they serve the user-friendliness of websites and thus the users (e.g. storage of login data). On the other hand, they serve to record the statistical data of the website use and to be able to analyze it in order to improve the offer. Users can influence the use of cookies. Most browsers have an option that limits or completely prevents the storage of cookies. However, it is pointed out that the use and in particular the convenience of use are restricted without cookies.

You can find many online ad cookies from companies on the US sitehttp://www.aboutads.info/choices/ or the EU side http://www.youronlinechoices.com/uk/your-ad-choices/manage.

Revocation, changes, corrections and updates

The user has the right, upon request, to receive information free of charge about the personal data stored about him. In addition, the user has the right to correct incorrect data, block and delete his personal data, provided that there is no statutory retention requirement.

Data protection pattern by lawyer Thomas Schwenke - I LAW it















General business
conditions

Contractual conditions within the framework of purchase contracts via the platform https://shop.mntre.com

between

MNT Research GmbH
Errorstrasse 8th
12161 Berlin
Germany

– hereinafter „ provider “ –

and

the users of this platform – referred to in § 2 of these terms and conditions are subsequently closed „ customers / customers “ –.

§ 1 scope
The following general terms and conditions in the version valid at the time of the order apply exclusively to the business relationship between the provider and the customer. Deviating conditions of the customer are not recognized unless the provider expressly agrees to their validity in writing.

§ 2 conclusion of contract
(1) The customer can select products from the range of the provider and collect them in a so-called shopping cart using the button „ Add To Cart “. Using the button „ Place Order “, he submits a binding application to buy the goods in the shopping cart. Before submitting the order, the customer can change and view the data at any time.

(2) The provider then sends the customer an automatic confirmation of receipt with the subject „ MNT Shop Order Confirmation “ by email, in which the customer's order is listed again and which the customer can print out using the „ Print “ function. The customer's order (1) represents the offer to conclude the contract with the respective content of the shopping cart. The confirmation of receipt (order confirmation) represents the acceptance of the offer by the provider. The content of the order is summarized in this. In this email or in a separate email, but at the latest when the goods are delivered, the contract text (consisting of order, Terms and Conditions and order confirmation) sent to the customer by us on a durable medium (email or paper printout).The contract text is saved in compliance with data protection.

(3) The contract is concluded in the languages: English.

§ 3 delivery, availability of goods, payment modalities
(1) Delivery times specified by us are calculated from the time of our order confirmation (§ 2 (2) of these terms and conditions), provided the purchase price has been paid in advance.

(2) If the product specified by the customer in the order is only temporarily unavailable, the provider shall also inform the customer immediately. In the event of a delivery delay of more than two weeks, the customer has the right to withdraw from the contract. In this case, the provider is also entitled to withdraw from the contract. He will immediately reimburse any payments already made by the customer.

(3) The customer can make the payment via PayPal.

(4) Payment of the purchase price is due immediately upon conclusion of the contract. If the due date of the payment is determined according to the calendar, the customer is already in default by missing the appointment.

§ 4 retention of title
The delivered goods remain the property of the provider until the purchase price has been paid in full.

§ 5 prices and shipping costs
(1) All prices that are stated on the website of the provider include the applicable statutory sales tax.

(2) The corresponding shipping costs are specified to the customer in the order form and are to be borne by the customer, unless the customer makes use of any right of withdrawal.

(3) In the event of a revocation, the customer must bear the immediate costs of the return.

§ 6 material defect warranty
(1) The provider is liable for material defects in accordance with the applicable legal regulations, in particular §§ 434 ff. BGB. Compared to entrepreneurs, the warranty period for items delivered by the provider is 12 months.

§ 7 liability
(1) Claims by the customer for damages are excluded. This does not apply to claims for damages by the customer from injury to life, limb, health or from the violation of essential contractual obligations (cardinal obligations) as well as liability for other damage, which are based on an intentional or grossly negligent breach of duty by the provider, his legal representatives or vicarious agents. Essential contractual obligations are those whose fulfillment is necessary to achieve the goal of the contract.

(2) In the event of a breach of essential contractual obligations, the provider is only liable for the foreseeable damage typical for the contract if this was simply caused negligently, unless, it concerns claims for damages by the customer from injury to life, limb or health.

(3) The restrictions of paragraphs 1 and 2 also apply in favor of the legal representatives and vicarious agents of the provider if claims are made directly against them.

(4) The provisions of the Product Liability Act remain unaffected.

§ 8 Notes on data processing
(1) The provider collects customer data as part of the processing of contracts. In particular, he observes the provisions of the Federal Data Protection Act and the Telemedia Act. Without the customer's consent, the provider will only collect, process or use the customer's inventory and usage data, insofar as this is necessary for the settlement of the contractual relationship and for the use and settlement of telemedia.

(2) Without the consent of the customer, the provider will not use customer data for advertising, market or opinion research purposes.

§ 9 final provisions
(1) The law of the Federal Republic of Germany applies to contracts between the provider and the customer to the exclusion of the United Nations Convention on Contracts for the International Sale of Goods and private international law.

(2) If the customer is a merchant, a legal entity under public law or a special fund under public law, is the place of jurisdiction for all disputes arising from contractual relationships between the customer and the provider.

(3) The remaining parts of the contract remain binding even if individual points are legally ineffective. Instead of the ineffective points, if available, the legal regulations take place. To the extent that this would constitute unreasonable hardship for a contracting party, the contract as a whole becomes ineffective.

Data protection
explanation

This data protection declaration is intended to inform the users of this website about the type, scope and purpose of the collection and use of personal data by the website operator in accordance with the Federal Data Protection Act and the Telemedia Act.

The website operator takes your data protection very seriously and treats your personal data confidentially and in accordance with legal regulations.

The use of our website is usually possible without providing personal data. Insofar as personal data (e.g. name, address or email addresses) are collected on our website, this is always done on a voluntary basis as far as possible. This data will not be passed on to third parties without your express consent.

We would like to point out that data transmission on the Internet (e.g. when communicating by email) can have security gaps. Complete protection of the data against access by third parties is not possible.

The use of contact data published within the scope of the imprint obligation by third parties to send unsolicited advertising and information material is hereby expressly objected to. The operators of the pages expressly reserve the right to take legal action in the event of unsolicited sending of advertising information, such as spam emails.

Sources: eRecht24 Disclaimer

Cookies

This website uses cookies. These are small text files that are stored on your device. Your browser accesses these files. The use of cookies increases the user-friendliness and security of this website.

Common browsers offer the setting option not to allow cookies. Note: It is not guaranteed that you can access all functions of this website without restrictions if you make the appropriate settings.

Handling of personal data

The website operator only collects, uses and passes on your personal data if this is permitted within the legal framework or if you consent to the data collection.

All information that serves to determine your person and which can be traced back to you is considered personal data –, for example, your name, email address and telephone number.

User account

In order to be able to place orders via this offer, customers can set up a password-protected customer account. This includes an overview of orders placed and active ordering processes. If you leave the online shop as a customer, you will be automatically logged out. A user account is not required for orders, but the data from guest orders is also saved.

The operator assumes no liability for password abuse unless this was caused by the operator himself.

Order process

All data that is entered by the customers as part of an order processing are saved. This includes:

Surname, first name, address, delivery address, payment data, email address

The data that is absolutely necessary for delivery or order processing are passed on to third-party service providers. As soon as the storage of your data is no longer necessary or required by law, it will be deleted.

Handling contact details

If you contact the website operator through the contact options offered, your details will be saved so that they can be used to process and answer your request. Without your consent, this data will not be passed on to third parties.

Handling comments and contributions

If you leave a post or comment on this website, your IP address will be saved. This serves the security of the website operator: If your text violates the law, he would like to be able to track your identity.

Cancellation
instruction
Right of withdrawal
You have the right to cancel this contract within fourteen days without giving any reason.

The cancellation period is fourteen days from the day on which you or a third party named by you who is not the carrier, have taken possession of the last partial shipment or the last piece.

In order to exercise your right of withdrawal, you must inform us of your decision to cancel this contract by means of a clear declaration (e.g. a letter sent by post, fax or email). You can use the attached sample withdrawal form, but this is not mandatory.

To meet the cancellation deadline, it is sufficient that you send the notification of the exercise of the right of withdrawal before the expiry of the cancellation period.

Consequences of revocation
If you cancel this contract, we will have all the payments that we have received from you, including the delivery costs (except for the additional costs that result from, that you have chosen a different type of delivery than the cheapest standard delivery offered by us), to be repaid immediately and at the latest within fourteen days from the day, on which we received the notification of your revocation of this contract. For this repayment, we use the same means of payment that you used in the original transaction, unless expressly agreed otherwise with you; under no circumstances will you be charged for this repayment. We can refuse repayment until we have received the goods back or until you have provided proof,that you have returned the goods, whichever is the earlier.

You must return or hand over the goods to us immediately and in any case no later than fourteen days from the day on which you inform us of the cancellation of this contract. The deadline is met if you send the goods before the fourteen-day period expires.

They bear the direct costs of returning the goods. You only have to pay for any loss in value of the goods if this loss in value is due to handling that is not necessary to check the nature, properties and functionality of the goods.

Sample withdrawal form
(If you want to cancel the contract, please fill out this form and send it back.)

– To

MNT Research GmbH
Errorstrasse 8th
12161 Berlin

Germany

– I / we (*) hereby revoke the contract concluded by me / us (*) for the purchase of the following goods (*) / the provision of the following service (*)

– Ordered on (*) / received on (*)

– Name of the consumer

– Address of the consumer (s)

– Signature of the consumer (s) (only for notification on paper)

– date

___________
(*) Delete where inapplicable.

Shipping methods

We send all orders with UPS.

Payment methods

What is PayPal

You can pay with PayPal. If you do not have a PayPal account, you can also pay with your credit card or by SEPA transfer.

imprint

MNT Research GmbH
Address: Fehlerstr. 8, 12161 Berlin
Managing Director: Lukas F. Hartmann
Email: support@mntre.com
Register court: Charlottenburg district court
Case number: HRB 136605 B
VAT ID: DE278908891
WEEE: DE 33315564
Disclaimer: liability for content
The content of our pages was created with the greatest care. However, we cannot guarantee the accuracy, completeness and timeliness of the content. As a service provider, we are responsible for our own content on these pages in accordance with general laws in accordance with Section 7 (1) TMG. According to §§ 8 to 10 TMG, however, we as a service provider are not obliged to monitor transmitted or stored third-party information or to research circumstances that indicate illegal activity. Obligations to remove or block the use of information according to general laws remain unaffected. However, liability in this regard is only possible from the time of knowledge of a specific violation of the law.If we become aware of any legal violations, we will remove this content immediately.

Alternative dispute resolution in accordance with Art. 14 Para. 1 ODR-VO and § 36 VSBG
The European Commission provides a platform for online dispute resolution (OS), which you can find at https://ec.europa.eu/consumers/odr Find. We are not obliged to participate in a dispute settlement procedure before a consumer arbitration board and are not prepared.

Liability for links
Our offer contains links to external websites of third parties, the content of which we have no influence on. Therefore, we cannot accept any liability for this external content. The respective provider or operator of the pages is always responsible for the content of the linked pages. The linked pages were checked for possible legal violations at the time the link was created. No illegal content was discernible at the time the link was created. A permanent control of the content of the linked pages is not reasonable without concrete evidence of a violation of the law. If legal violations become known, we will remove such links immediately.

Copyright
The content and works on these pages created by the site operator are subject to German copyright law. The duplication, processing, distribution and any kind of use outside the limits of copyright law require the written consent of the respective author or. Creator. Downloads and copies of this page are only permitted for private, non-commercial use. If the content on this page was not created by the operator, the copyrights of third parties are observed. In particular, third party content is marked as such. Should you nevertheless become aware of a copyright infringement, please let us know. If we become aware of legal violations, we will remove such content immediately.

ElektroG
Information according to section 18 (2) sentence 3 ElektroG
The EU countries want to promote the recycling of electrical appliances. As a manufacturer of electrical devices, MNT Research GmbH provides information about the annual collection and recovery rates that Germany achieves when recycling electrical devices. Since 2019, the target rate has been 65% collection rate of electrical devices that are being prepared for recycling (Section 10 (3) ElektroG). The Federal Ministry for the Environment, Nature Conservation and Nuclear Safety is currently publishing the actual recovery rate, i.e. the proportion of devices that have actually been recycled here


https://mntre.com/legal-de.html#versandarten


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Rechtliches—MNT Research GmbH</title>
        <link rel="stylesheet" type="text/css" href="/reset.css"></link>
    <link rel="stylesheet" type="text/css" href="/mntstyle.css?v=20240306170147"></link>
    <link rel="stylesheet" type="text/css" href="/media/dist/glightbox.css"></link>

  </head>
  <body onload="GLightbox()">
    
        <nav id="nav">
      <ul>
        <li>
          <a href="/index.html"><img src="/mntre-logo-inverted.svg" id="logo" alt="MNT Research Logo"></a>
        </li>
        <li><a href="/news.html">News</a></li>
        <li><a href="https://shop.mntre.com">MNT Shop</a></li>
        <li><a href="/reform.html">Open Hardware</a></li>
        <li><a href="/docs-reform.html">Documentation</a></li>
        <li><a class="active" href="/about.html">About</a></li>
        <li id="search"><form method="get" action="https://shop.mntre.com/products"><input type="text" name="keywords"><input type="hidden" name="utf8" value="✓"></form></li>
        <li id="icons">
          <a id="account"  href="https://shop.mnt.re/account">Account</a><a id="cart" href="https://shop.mnt.re/cart">Cart</a>
        </li>
      </ul>
    </nav>

    <nav class="subnav">
      <ul>
        <li><a href="about.html">Our Principles</a></li>
        <li><a href="team.html">MNT Team</a></li>
        <li><a href="jobs.html">Jobs</a></li>
        <li><a href="legal-de.html" class="active">Legal</a></li>
        <li><a href="faq.html">FAQ</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
    <nav class="subnav">
      <ul>
        <li><a href="#agb">AGB</a></li>
        <li><a href="#datenschutzerklaerung">Datenschutzerklärung</a></li>
        <li><a href="#widerrufsbelehrung">Widerrufsbelehrung</a></li>
        <li><a href="#versandarten">Versandarten</a></li>
        <li><a href="#zahlungsarten">Zahlungsarten</a></li>
        <li><a href="#impressum">Impressum</a></li>
        <li><a href="#elektrog">ElektroG</a></li>
      </ul>
    </nav>

    <div id="wrap">
      <section>
        <p>
          Stand: 2022-04-06
        </p>
      </section>

      <section id="agb">
        <h1>Allgemeine Geschäfts-<br>bedingungen</h1>
        <br>
        <p>Vertragsbedingungen im Rahmen von Kaufverträgen die über die Plattform https://shop.mntre.com</p>
        <p>zwischen</p>
        <p>MNT Research GmbH<br>
          Fehlerstr. 8<br>
          12161 Berlin<br>
          Deutschland</p>
        <p>– im Folgenden „Anbieter“ –</p>
        <p>und</p>
        <p>den in § 2 dieser AGB bezeichneten Nutzern dieser Plattform – im Folgenden „Kunde/Kunden“ – geschlossen werden.</p>
        <h3>§ 1 Geltungsbereich</h3>
        <p>Für die Geschäftsbeziehung zwischen dem Anbieter und dem Kunden gelten ausschließlich die nachfolgenden Allgemeinen Geschäftsbedingungen in ihrer zum Zeitpunkt der Bestellung gültigen Fassung. Abweichende Bedingungen des Kunden werden nicht anerkannt, es sei denn, der Anbieter stimmt ihrer Geltung ausdrücklich schriftlich zu.</p>
        <h3>§ 2 Vertragsschluss</h3>
        <p>(1) Der Kunde kann aus dem Sortiment des Anbieters Produkte auswählen und diese über den Button „Add To Cart“ in einem so genannten Warenkorb sammeln. Über den Button „Place Order“ gibt er einen verbindlichen Antrag zum Kauf der im Warenkorb befindlichen Waren ab. Vor Abschicken der Bestellung kann der Kunde die Daten jederzeit ändern und einsehen.</p>
        <p>(2) Der Anbieter schickt daraufhin dem Kunden eine automatische Empfangsbestätigung mit dem Betreff „MNT Shop Order Confirmation“ per E-Mail zu, in welcher die Bestellung des Kunden nochmals aufgeführt wird und die der Kunde über die Funktion „Drucken“ ausdrucken kann. Die Bestellung des Kunden (1) stellt hierbei das Angebot zum Vertragsschluss mit dem jeweiligen Inhalt des Warenkorbs dar. Die Empfangsbestätigung (Bestellbestätigung) stellt die Annahme des Angebots durch den Anbieter dar. In dieser wird der Inhalt der Bestellung zusammengefasst. In dieser E-Mail oder in einer separaten E-Mail, jedoch spätestens bei Lieferung der Ware, wird der Vertragstext (bestehend aus Bestellung, AGB und Auftragsbestätigung) dem Kunden von uns auf einem dauerhaften Datenträger (E-Mail oder Papierausdruck) zugesandt. Der Vertragstext wird unter Wahrung des Datenschutzes gespeichert.</p>
        <p>(3) Der Vertragsschluss erfolgt in den Sprachen: Englisch.</p>
        <h3>§ 3 Lieferung, Warenverfügbarkeit, Zahlungsmodalitäten</h3>
        <p>(1) Von uns angegebene Lieferzeiten berechnen sich vom Zeitpunkt unserer Auftragsbestätigung (§ 2 (2) dieser AGB), vorherige Zahlung des Kaufpreises vorausgesetzt.</p>
        <p>(2) Ist das vom Kunden in der Bestellung bezeichnete Produkt nur vorübergehend nicht verfügbar, teilt der Anbieter dem Kunden dies ebenfalls unverzüglich mit. Bei einer Lieferungsverzögerung von mehr als zwei Wochen hat der Kunde das Recht, vom Vertrag zurückzutreten. Im Übrigen ist in diesem Fall auch der Anbieter berechtigt, sich vom Vertrag zu lösen. Hierbei wird er eventuell bereits geleistete Zahlungen des Kunden unverzüglich erstatten.</p>
        <p>(3) Der Kunde kann die Zahlung per PayPal vornehmen.</p>
        <p>(4) Die Zahlung des Kaufpreises ist unmittelbar mit Vertragsschluss fällig. Ist die Fälligkeit der Zahlung nach dem Kalender bestimmt, so kommt der Kunde bereits durch Versäumung des Termins in Verzug.</p>
        <h3>§ 4 Eigentumsvorbehalt</h3>
        <p>Bis zur vollständigen Bezahlung des Kaufpreises verbleiben die gelieferten Waren im Eigentum des Anbieters.</p>
        <h3>§ 5 Preise und Versandkosten</h3>
        <p>(1) Alle Preise, die auf der Website des Anbieters angegeben sind, verstehen sich einschließlich der jeweils gültigen gesetzlichen Umsatzsteuer.</p>
        <p>(2) Die entsprechenden Versandkosten werden dem Kunden im Bestellformular angegeben und sind vom Kunden zu tragen, soweit der Kunde nicht von einem etwaigen Widerrufsrecht Gebrauch macht.</p>
        <p>(3) Der Kunde hat im Falle eines Widerrufs die unmittelbaren Kosten der Rücksendung zu tragen.</p>
        <h3>§ 6 Sachmängelgewährleistung</h3>
        <p>(1) Der Anbieter haftet für Sachmängel nach den hierfür geltenden gesetzlichen Vorschriften, insbesondere §§ 434 ff. BGB. Gegenüber Unternehmern beträgt die Gewährleistungsfrist auf vom Anbieter gelieferte Sachen 12 Monate.</p>
        <h3>§ 7 Haftung</h3>
        <p>(1) Ansprüche des Kunden auf Schadensersatz sind ausgeschlossen. Hiervon ausgenommen sind Schadensersatzansprüche des Kunden aus der Verletzung des Lebens, des Körpers, der Gesundheit oder aus der Verletzung wesentlicher Vertragspflichten (Kardinalpflichten) sowie die Haftung für sonstige Schäden, die auf einer vorsätzlichen oder grob fahrlässigen Pflichtverletzung des Anbieters, seiner gesetzlichen Vertreter oder Erfüllungsgehilfen beruhen. Wesentliche Vertragspflichten sind solche, deren Erfüllung zur Erreichung des Ziels des Vertrags notwendig ist.</p>
        <p>(2) Bei der Verletzung wesentlicher Vertragspflichten haftet der Anbieter nur auf den vertragstypischen, vorhersehbaren Schaden, wenn dieser einfach fahrlässig verursacht wurde, es sei denn, es handelt sich um Schadensersatzansprüche des Kunden aus einer Verletzung des Lebens, des Körpers oder der Gesundheit.</p>
        <p>(3) Die Einschränkungen der Abs. 1 und 2 gelten auch zugunsten der gesetzlichen Vertreter und Erfüllungsgehilfen des Anbieters, wenn Ansprüche direkt gegen diese geltend gemacht werden.</p>
        <p>(4) Die Vorschriften des Produkthaftungsgesetzes bleiben unberührt.</p>
        <h3>§ 8 Hinweise zur Datenverarbeitung</h3>
        <p>(1) Der Anbieter erhebt im Rahmen der Abwicklung von Verträgen Daten des Kunden. Er beachtet dabei insbesondere die Vorschriften des Bundesdatenschutzgesetzes und des Telemediengesetzes. Ohne Einwilligung des Kunden wird der Anbieter Bestands- und Nutzungsdaten des Kunden nur erheben, verarbeiten oder nutzen, soweit dies für die Abwicklung des Vertragsverhältnisses und für die Inanspruchnahme und Abrechnung von Telemedien erforderlich ist.</p>
        <p>(2) Ohne die Einwilligung des Kunden wird der Anbieter Daten des Kunden nicht für Zwecke der Werbung, Markt- oder Meinungsforschung nutzen.</p>
        <h3>§ 9 Schlussbestimmungen</h3>
        <p>(1) Auf Verträge zwischen dem Anbieter und den Kunden findet das Recht der Bundesrepublik Deutschland unter Ausschluss des UN-Kaufrechts sowie des internationalen Privatrechts Anwendung.</p>
        <p>(2) Sofern es sich beim Kunden um einen Kaufmann, eine juristische Person des öffentlichen Rechts oder um ein öffentlich-rechtliches Sondervermögen handelt, ist Gerichtsstand für alle Streitigkeiten aus Vertragsverhältnissen zwischen dem Kunden und dem Anbieter der Sitz des Anbieters.</p>
        <p>(3) Der Vertrag bleibt auch bei rechtlicher Unwirksamkeit einzelner Punkte in seinen übrigen Teilen verbindlich. Anstelle der unwirksamen Punkte treten, soweit vorhanden, die gesetzlichen Vorschriften. Soweit dies für eine Vertragspartei eine unzumutbare Härte darstellen würde, wird der Vertrag jedoch im Ganzen unwirksam.</p>
      </section>


      <section id="datenschutzerklaerung">
        <h1>Datenschutz-<br>erklärung</h1>
        <br>
        <p>Diese Datenschutzerklärung soll die Nutzer dieser Website gemäß Bundesdatenschutzgesetz und Telemediengesetz über die Art, den Umfang und den Zweck der Erhebung und Verwendung personenbezogener Daten durch den Websitebetreiber informieren.</p>
        <p>Der Websitebetreiber nimmt Ihren Datenschutz sehr ernst und behandelt Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Vorschriften.</p>
        <p>Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.</p>
        <p>Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.</p>
        <p>Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.</p>
        <p><i>Quellen: <a href="http://www.e-recht24.de/muster-disclaimer.htm">eRecht24 Disclaimer</a></i></p>

        <p><strong>Cookies</strong></p>
        <p>Diese Website verwendet Cookies. Dabei handelt es sich um kleine Textdateien, welche auf Ihrem Endgerät gespeichert werden. Ihr Browser greift auf diese Dateien zu. Durch den Einsatz von Cookies erhöht sich die Benutzerfreundlichkeit und Sicherheit dieser Website.</p>

        <p>Gängige Browser bieten die Einstellungsoption, Cookies nicht zuzulassen. Hinweis: Es ist nicht gewährleistet, dass Sie auf alle Funktionen dieser Website ohne Einschränkungen zugreifen können, wenn Sie entsprechende Einstellungen vornehmen.</p>

        <p><strong>Umgang mit personenbezogenen Daten</strong></p>
        <p>Der Websitebetreiber erhebt, nutzt und gibt Ihre personenbezogenen Daten nur dann weiter, wenn dies im gesetzlichen Rahmen erlaubt ist oder Sie in die Datenerhebung einwilligen.</p>
        <p>Als personenbezogene Daten gelten sämtliche Informationen, welche dazu dienen, Ihre Person zu bestimmen und welche zu Ihnen zurückverfolgt werden können – also beispielsweise Ihr Name, Ihre E-Mail-Adresse und Telefonnummer.</p>
        <p><strong>Benutzerkonto</strong></p>
        <p>Um über dieses Angebot Bestellungen tätigen zu können, können Kunden jeweils ein passwortgeschütztes Kundenkonto einrichten. Dieses beinhaltet eine Übersicht über getätigte Bestellungen und aktive Bestellvorgänge. Sofern Sie als Kunde den Onlineshop verlassen, werden Sie automatisch ausgeloggt. Für Bestellungen ist ein Benutzerkonto nicht erforderlich, jedoch werden die Daten von Gastbestellungen ebenso gespeichert.</p>
        <p>Der Betreiber übernimmt keine Haftung für Passwortmissbrauch, sofern dieser nicht von dem Betreiber selbst verursacht wurde.</p>
        <p><strong>Bestellvorgang</strong></p>
        <p>Sämtliche Daten, welche im Rahmen einer Bestellabwicklung von den Kunden eingegeben werden, werden gespeichert. Dazu gehören:</p>
        <p>Name, Vorname, Adresse, Lieferadresse, Zahldaten, E-Mail-Adresse</p>
        <p>Jene Daten, welche zur Auslieferung oder Auftragsabwicklung zwingend notwendig sind, werden an dritte Dienstleister weitergegeben. Sowie die Aufbewahrung Ihrer Daten nicht mehr erforderlich oder gesetzlich geboten ist, werden diese gelöscht.</p>

        <p><strong>Umgang mit Kontaktdaten</strong></p>

        <p>Nehmen Sie mit dem Websitebetreiber durch die angebotenen Kontaktmöglichkeiten Verbindung auf, werden Ihre Angaben gespeichert, damit auf diese zur Bearbeitung und Beantwortung Ihrer Anfrage zurückgegriffen werden kann. Ohne Ihre Einwilligung werden diese Daten nicht an Dritte weitergegeben.</p>
        <p><strong>Umgang mit Kommentaren und Beiträgen</strong></p>
        <p>Hinterlassen Sie auf dieser Website einen Beitrag oder Kommentar, wird Ihre IP-Adresse gespeichert. Dies dient der Sicherheit des Websitebetreibers: Verstößt Ihr Text gegen das Recht, möchte er Ihre Identität nachverfolgen können.</p>

      </section>

      <section id="widerrufsbelehrung">
        <h1>Widerrufs-<br>belehrung</h1>
        <h3>Widerrufsrecht</h3>
        <p>Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen Vertrag zu widerrufen.</p>
        <p>Die Widerrufsfrist beträgt vierzehn Tage ab dem Tag, an dem Sie oder ein von Ihnen benannter Dritter, der nicht der Beförderer ist, die letzte Teilsendung oder das letzte Stück in Besitz genommen haben bzw. hat.</p>
        <p>Um Ihr Widerrufsrecht auszuüben, müssen Sie uns mittels einer eindeutigen Erklärung (z.B. ein mit der Post versandter Brief, Telefax oder E-Mail) über Ihren Entschluss, diesen Vertrag zu widerrufen, informieren. Sie können dafür das beigefügte Muster-Widerrufsformular verwenden, das jedoch nicht vorgeschrieben ist.</p>
        <p>Zur Wahrung der Widerrufsfrist reicht es aus, dass Sie die Mitteilung über die Ausübung des Widerrufsrechts vor Ablauf der Widerrufsfrist absenden.</p>
        <h3>Folgen des Widerrufs</h3>
        <p>Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen, die wir von Ihnen erhalten haben, einschließlich der Lieferkosten (mit Ausnahme der zusätzlichen Kosten, die sich daraus ergeben, dass Sie eine andere Art der Lieferung als die von uns angebotene, günstigste Standardlieferung gewählt haben), unverzüglich und spätestens binnen vierzehn Tagen ab dem Tag zurückzuzahlen, an dem die Mitteilung über Ihren Widerruf dieses Vertrags bei uns eingegangen ist. Für diese Rückzahlung verwenden wir dasselbe Zahlungsmittel, das Sie bei der ursprünglichen Transaktion eingesetzt haben, es sei denn, mit Ihnen wurde ausdrücklich etwas anderes vereinbart; in keinem Fall werden Ihnen wegen dieser Rückzahlung Entgelte berechnet. Wir können die Rückzahlung verweigern, bis wir die Waren wieder zurückerhalten haben oder bis Sie den Nachweis erbracht haben, dass Sie die Waren zurückgesandt haben, je nachdem, welches der frühere Zeitpunkt ist.</p>
        <p>Sie haben die Waren unverzüglich und in jedem Fall spätestens binnen vierzehn Tagen ab dem Tag, an dem Sie uns über den Widerruf dieses Vertrags unterrichten, an uns zurückzusenden oder zu übergeben. Die Frist ist gewahrt, wenn Sie die Waren vor Ablauf der Frist von vierzehn Tagen absenden.</p>
        <p>Sie tragen die unmittelbaren Kosten der Rücksendung der Waren. Sie müssen für einen etwaigen Wertverlust der Waren nur aufkommen, wenn dieser Wertverlust auf einen zur Prüfung der Beschaffenheit, Eigenschaften und Funktionsweise der Waren nicht notwendigen Umgang mit ihnen zurückzuführen ist.</p>
        <h3>Muster-Widerrufsformular</h3>
        <p>(Wenn Sie den Vertrag widerrufen wollen, dann füllen Sie bitte dieses Formular aus und senden Sie es zurück.)</p>
        <p>– An</p>
        <p>MNT Research GmbH<br />
          Fehlerstr. 8<br />
          12161 Berlin</p>
        <p>Deutschland</p>
        <p>– Hiermit widerrufe(n) ich/wir (*) den von mir/uns (*) abgeschlossenen Vertrag über den Kauf der folgenden Waren (*)/ die Erbringung der folgenden Dienstleistung (*)</p>
        <p>– Bestellt am (*)/erhalten am (*)</p>
        <p>– Name des/der Verbraucherin/Verbraucher(s)</p>
        <p>– Anschrift des/der Verbraucherin/Verbraucher(s)</p>
        <p>– Unterschrift des/der Verbraucher(s) (nur bei Mitteilung auf Papier)</p>
        <p>– Datum</p>
        <p>___________<br />
          (*) Unzutreffendes streichen.</p>
      </section>

      <section id="versandarten">
        <h1>Versandarten</h1>
        <br>
        <p>Wir versenden alle Bestellungen mit UPS.</p>
      </section>

      <section id="zahlungsarten">
        <h1>Zahlungsarten</h1>
        <br>
        <p><a href="https://www.paypal.com/de/webapps/mpp/paypal-popup" class="about_paypal">Was ist PayPal (Externer Link)</a></p>
			  <p>Sie können mit Paypal bezahlen. Sollten Sie keinen Paypal-Account besitzen, können Sie auch mit Ihrer Kreditkarte oder per SEPA-Überweisung bezahlen.</p>
      </section>

      <section id="impressum">
        <h1>Impressum</h1>
        <p>
          <br>
          MNT Research GmbH<br>
          Anschrift: Fehlerstr. 8, 12161 Berlin<br>
          Geschäftsführer: Lukas F. Hartmann<br>
          Email: support@mntre.com<br>
          Registergericht: Amtsgericht Charlottenburg<br>
          Aktenzeichen: HRB 136605 B<br>
          VAT ID: DE278908891<br>
          WEEE: DE 33315564<br>
        </p>

        <h3>Haftungsausschluss: Haftung für Inhalte</h3>
        <p>Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>
        <h3>Alternative Streitbeilegung gemäß Art. 14 Abs. 1 ODR-VO und § 36 VSBG</h3>
        <p>Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit, die Sie unter <a href="https://ec.europa.eu/consumers/odr">https://ec.europa.eu/consumers/odr</a> finden. Zur Teilnahme an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle sind wir nicht verpflichtet und nicht bereit.</p>
        <h3>Haftung für Links</h3>
        <p>Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>
        <h3>Urheberrecht</h3>
        <p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>
      </section>

      <section id="elektrog">
        <h1>ElektroG</h1>
        <h3>Information nach § 18 Abs. 2 Satz 3 ElektroG</h3>
        <p>Die EU-Länder wollen das Recycling von Elektrogeräten fördern. Als Hersteller von Elektrogeräten informiert MNT Research GmbH über die jährlichen Sammel- und Verwertungsquoten, die Deutschland beim Recycling von Elektrogeräten erreicht. Seit 2019 liegt die Zielquote bei 65% Sammelquote von Elektrogeräten, die zur Verwertung vorbereitet werden (§ 10 Abs. 3 ElektroG). Die tatsächliche Verwertungsquote, also der Anteil von Geräten, die tatsächlich recycelt wurden, veröffentlicht aktuell das Bundesministerium für Umwelt, Naturschutz und nukleare Sicherheit <a href="https://www.bmu.de/themen/wasser-abfall-boden/abfallwirtschaft/statistiken/elektro-und-elektronikaltgeraete">hier</a></p>
      </section>
    </div>
    
    <footer>
      <p>
        <a href="https://mntre.com/legal-de.html#agb">AGB</a> ·
        <a href="https://mntre.com/legal-de.html#datenschutzerklaerung">Datenschutzerklärung</a> ·
        <a href="https://mntre.com/legal-de.html#widerrufsbelehrung">Widerrufsbelehrung</a> ·
        <a href="https://mntre.com/legal-de.html#versandarten">Versandarten</a> ·
        <a href="https://mntre.com/legal-de.html#zahlungsarten">Zahlungsarten</a> ·
        <a href="https://mntre.com/legal-de.html#impressum">Impressum</a> ·
        <a rel="me" href="https://mastodon.social/@mntmn">Mastodon</a>
      </p>

	    <p>
        © 2024 MNT Research GmbH / Fehlerstr. 8 / 12161 Berlin<br>
	      Geschäftsführer*in und inhaltlich verantwortlich: Lukas F. Hartmann.<br>
        Amtsgericht Charlottenburg, Aktenzeichen: HRB 136605 B. VAT ID: DE278908891. WEEE: DE 33315564
      </p>

      <p>
        Attributions: Inter and Inter Display fonts by <a href="https://rsms.me/work/inter">rsms</a>. Bismuth photo by <a href="https://www.flickr.com/photos/48503330@N08/36654572286">Kurayba</a>.<br>All photos and graphics, except for the MNT logo (a protected trademark) <br> are CC BY-SA 2.0.
      </p>

      <p>
        For assistance, contact: <a href="mailto:support@mntre.com">support@mntre.com</a>
      </p>
    </footer>
    <script src="/media/dist/glightbox.js"></script>

  </body>
</html>















ADDD legal docs



Home
Contact
Policies
Policies
All policies are available for download, and can found in paper form on site at work.

H & S Policy Statement
Health and Safety policy statement
<a data-testid="linkElement" href="https://www.abbareforestation.com/_files/ugd/364cb8_a29f0a96aeec404eac6cfa9fdcdb9bc1.pdf" target="_blank" class="kuTaGy wixui-button zKbzSQ" aria-disabled="false"><span class="M3I7Z2 wixui-button__label">Download</span></a>

https://www.abbareforestation.com/_files/ugd/364cb8_a29f0a96aeec404eac6cfa9fdcdb9bc1.pdf



Covid-19 Policy
Covid-19 Health and Safety policy including actionable items


https://www.abbareforestation.com/_files/ugd/364cb8_562a6021598e4937bdc739dc1661c6b0.pdf



Bullying and Harassment Policy
Bullying and Harassment policy, including information on appropriate workplace conduct


https://www.abbareforestation.com/_files/ugd/364cb8_9400b5f3726e419cac9bc86fc89bbc59.pdf



Workplace Conduct Policy
The Workplace Conduct Policy is separated from the Bullying and Harassment Policy, as we wanted to emphasize the importance of how appropriate conduct can help shape a healthy work environment.





SWPs
A series of Safe Work Produces that encompass the field work we conduct.



